*                                                 @celonis/astro

#/*                                                @celonis/astro
#/src                                              @celonis/astro
#/src/core                                         @celonis/astro
#/src/commands/configuration-management/           @celonis/astro
#/src/commands/profile/                            @celonis/astro
#/src/commands/action-flows/                       action-flow team
#/src/commands/analysis/                           filter and foundation team
#/src/commands/cpm4/                               cpm4 team
/src/commands/data-pipeline/                      @Dusan-r @IvanGandacov @EktaCelonis @gorasoCelonis
/src/commands/studio/                             @celonis/navi
