name: Build Pull Request

on:
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    name: Npm install and npm build
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '20'
    - name: Lint
      run: yarn format:check
    - name: Yarn Install
      run: yarn install
    - name: Yarn Build
      run: yarn build
    - name: Yarn Test
      run: yarn test
